<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/rf.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>RandomFlix - About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}

    <br>
        <p><b>Oii! Esse site é um gerador de noitinha de filme com comida<br><br>
        Temos diversos generos de filmes e tipos de comidas</b></p>
        <p><b>Se quiser contribuir com alguma lista bacana de filmes ou comidas pode mandar!<br><br> Abra na aba Help e entre em contato comigo :)</b></p>
    </div>

    {{>footer}}
</body>
</html>