<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/rf.png">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>RandomFlix</title>
</head>
<body>
    <div class="main-content">
    {{>header}}

    <p><b>Escolha entre as opções abaixo e nós iremos te dar uma ideia para a noite</b></p>

    <form>
        <select id="genero">
            <option value="comedia">Comédia</option>
            <option value="terror" selected>Terror</option>
            <option value="acao">Ação</option>
            <option value="suspense">Suspense</option>
            <option value="animacao">Animação</option>
            <option value="drama">Drama/Romance</option>
            <option value="ficcao">Ficção Científica</option>
        </select>
        <select id="tipica">
            <option value="fit">Fitness</option>
            <option value="fastfood" selected>Fast food</option>
            <option value="doce">Doce</option>
            <option value="comida">Comida</option>
            <option value="asiatica">Asiatica</option>
        </select>
        <button id="button">Search</button>
    </form>

    <p id="message-1" style="margin-top: '20px';"></p>
    <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="module">

    const btn = document.getElementById('button')
    const movies = {
  "comedia": [
    "Minha vida em Marte",
    "Os Farofeiros",
    "Minha Mãe é Uma Peça 3",
    "Socorro Virei Uma Garota",
    "De Perto Ela Não é Normal",
    "Tudo Bem No Natal Que Vem",
    "Carnaval",
    "A Sogra Perfeita",
    "Eu Não Sou Um Homem Fácil",
    "Mistério no Mediterrâneo",
    "A Missy Errada",
    "Missão Pijamas",
    "Solteiramente",
    "A Família Mitchell e a Revolta das Máquinas",
    "A Segunda Vista",
    "Cabras da Peste",
    "Bad Trip"
  ],
  "terror": [
    "O EXORCISTA",
    "SUSPIRIA",
    "O MASSACRE DA SERRA-ELÉTRICA",
    "A BRUXA",
    "O SEXTO SENTIDO",
    "ARRASTE-ME PARA O INFERNO",
    "PSICOSE",
    "HEREDITÁRIO",
    "O BABADOOK",
    "Invocação do Mal 3: A Ordem do Demônio",
    "JOGOS MORTAIS",
    "CARRIE",
    "O ILUMINADO",
    "O BRINQUEDO ASSASSINO",
    "PREDADOR",
    "SEXTA-FEIRA 13",
    "À MEIA NOITE LEVAREI SUA ALMA",
    "O DESPERTAR DOS MORTOS",
    "MÁRTIRES",
    "O BEBÊ DE ROSEMARY",
    "O SILÊNCIO DOS INOCENTES",
    "HORA DO PESADELO",
    "CORRA!",
    "A BRUXA DE BLAIR",
    "ALIEN: O OITAVO PASSAGEIRO",
    "PÂNICO",
    "ENIGMA DE OUTRO MUNDO",
    "HALLOWEEN",
    "Espíritos Obscuros",
    "Vozes e Vultos",
    "Maligno",
    "Espiral – O Legado de Jogos Mortais",
    "Uma Noite de Crime 5 – A Fronteira",
    "A Lenda de Candyman",
    "Halloween Kills – O Terror Continua",
    "Tempo",
    "Um Lugar Silencioso",
    "A Visita",
    "Abismo do Medo",
    "Corrente do Mal",
    "Atividade Paranormal",
    "A Entidade"
  ],
  "acao": [
    "Duna",
    "Liga da Justiça (Snyder cut)",
    "007 - No Time To Die",
    "Viúva Negra",
    "The Tomorrow War",
    "O Esquadrão Suicida",
    "Godzilla vs Kong",
    "Mortal Kombat",
    "Chaos Walking",
    "Velozes e Furiosos 9",
    "Dupla Explosiva 2",
    "Anônimo",
    "Infiltrado",
    "Assalto ao Banco da Espanha",
    "Tenet",
    "Ameaça Profunda",
    "Mulan",
    "Em Ritmo de Fuga",
    "Branca de Neve e o Caçador",
    "Onde Está Segunda?",
    "AVA",
    "Céu Vermelho-Sangue",
    "Kate"
  ],
  "suspense": [
    "Laranja Mecânica",
    "Seven - Os Sete Crimes Capitais",
    "Clube da Luta",
    "Estou Pensando em Acabar com Tudo",
    "A Caçada",
    "Garota Exemplar",
    "Você Nunca Esteve Realmente Aqui",
    "Nós",
    "Parasita",
    "O Convite",
    "O Abutre",
    "Devorar",
    "A Garota no Trem",
    "Amnésia",
    "Cisne Negro",
    "Animais Noturnos",
    "Por Trás de Seus Olhos",
    "Ilha do Medo",
    "Taxi Driver",
    "Argo",
    "Zodíaco",
    "Janela Indiscreta",
    "Donnie Darko",
    "Mãe!",
    "O Presente",
    "O Quarto do Pânico",
    "Doutor Sono",
    "O poço",
    "A travessia"
  ],
  "animacao": [
    "O Rei Leão",
    "Viva - A Vida é uma Festa",
    "A Bela e a Fera",
    "Toy Story 3",
    "Toy Story - Um Mundo de Aventuras",
    "Divertida Mente",
    "Túmulo dos Vaga-Lumes",
    "Procurando Nemo",
    "Wall-E",
    "A Viagem de Chihiro",
    "Up - Altas Aventuras",
    "Monstros S.A.",
    "Your Name",
    "Mary & Max - Uma Amizade Diferente",
    "Mulan",
    "Operação Big Hero",
    "Klaus",
    "Zootopia: Essa Cidade é o Bicho",
    "O Castelo Animado",
    "Homem-Aranha no Aranhaverso",
    "Moana - Um Mar de Aventuras",
    "O Menino e o Mundo",
    "The Last - Naruto o Filme",
    "Festa no Céu",
    "O Estranho Mundo de Jack",
    "A Noiva-Cadáver",
    "Soul",
    "Coraline e o Mundo Secreto"
  ],
  "drama": [
    "A Garota Dinamarquesa",
    "O Jogo da Imitação",
    "A Teoria de Tudo",
    "O Quarto de Jack",
    "Até o Último Homem",
    "Como Eu Era Antes de Você",
    "Uma Vida com Propósito",
    "A Culpa é das Estrelas",
    "Um Momento Pode Mudar Tudo",
    "O Melhor de Mim",
    "Doze Anos de Escravidão",
    "A Última Música",
    "Sempre ao Seu Lado",
    "Um Olhar do Paraíso",
    "Na Natureza Selvagem",
    "O Pianista",
    "Uma Lição de Amor",
    "À Espera de um Milagre",
    "O Show de Truman",
    "A Vida é Bela",
    "Me Chame Pelo Seu Nome",
    "Coração de Corredor",
    "Blue Jay",
    "A Incrível História de Adaline",
    "Amor Por Direito",
    "Brooklyn",
    "Mulherzinhas",
    "As Vantagens de Ser Invisível",
    "A Fera",
    "Brilho Eterno de uma Mente Sem Lembranças",
    "Forrest Gump",
    "Sociedade dos Poetas Mortos",
    "Rocky: Um Lutador"
  ],
  "ficcao": [
    "Passageiros",
    "Além da Morte",
    "The Discovery",
    "O Céu da Meia-Noite",
    "Amor e Monstros",
    "The Soul",
    "Oxigênio",
    "Looper: Assassinos do Futuro",
    "Rua Cloverfield, 10",
    "O Duplo",
    "Ghost in the Shell",
    "I Am Mother",
    "Perdido em Marte",
    "O Homem Que Caiu na Terra",
    "De Volta para o Futuro",
    "O Quinto Elemento",
    "2001: Uma Odisseia no Espaço",
    "Os Doze Macacos",
    "Solaris",
    "Donnie Darko",
    "A.I.: Inteligência Artificial",
    "Matrix",
    "Minority Report - A Nova Lei",
    "Ela",
    "Distrito 9",
    "Mad Max: Estrada da Fúria",
    "A Origem",
    "Filhos da Esperança",
    "Ex Machina",
    "Interstellar",
    "Desculpe Te Incomodar",
    "Aniquilação",
    "A Chegada",
    "Blade Runner 2049",
    "Ad Astra - Rumo às Estrelas",
    "Upgrade"
  ]
}
    const foods = {
        "asiatica": [
            "Pho",
            "Banh Mi",
            "Som Tam",
            "Khao Soi",
            "Pad Thai",
            "Nasi Padang",
            "Sate Padang",
            "Bakso",
            "Nasi Lemak",
            "Assam Laksa",
            "Sushi",
            "Temaki",
            "Poke",
            "Yakisoba",
            "Kimchi",
            "Noodles"
        ],
        "comida": [
            "Macarrão",
            "Pizza",
            "Tacos mexicanos",
            "Lasanha",
            "Panqueca",
            "Strogonoff",
            "Escondidinho",
            "Risoto",
            "Esfiha",
            "Empada",
            "Frango Frito",
            "Batata frita",
            "Coxinha"
        ],
        "doce": [
            "Pipoca doce",
            "Brigadeiro",
            "Cheesecake",
            "Sorvete",
            "Cookie",
            "Waffles",
            "Brownie",
            "Mouse",
            "Cupcake",
            "Bolo",
            "Amendoim",
            "Churros",
            "Bolinho de chuva"
        ],
        "fastfood": [
            "Pipoca",
            "Cachorro-quente",
            "McDonald´s",
            "Baked Potato",
            "Pizza Hut",
            "Burger King",
            "China In Box",
            "Outback",
            "Vivenda do Camarão",
            "Spoleto",
            "Habib´s",
            "Giraffas",
            "Casa do Pão de Queijo",
            "Bob´s",
            "Subway"
        ],
        "fit": [
            "Palito de legumes",
            "Pastelzinho de ricota",
            "Dadinho de tapioca",
            "Torradinha",
            "Palito de pão",
            "Cenoura surpresa",
            "Pão de queijo",
            "Quibe vegano",
            "Minipizza de berinjela",
            "Chips de batata-doce",
            "Palitos de abobrinha",
            "Espetinho de frutas",
            "Biscoito integral",
            "Chips de abobrinha"
        ]
    }

    function getFood(tipica) {
    let foodArrLength = 0

    switch (tipica) {
        case 'asiatica':
        foodArrLength = foods.asiatica.length
        break;
        case 'massa':
        foodArrLength = foods.massa.length
        break;
        case 'salgado':
        foodArrLength = foods.salgado.length
        break;
        case 'doce':
        foodArrLength = foods.doce.length
        break;
        case 'fastfood':
        foodArrLength = foods.fastfood.length
        break;
        case 'fit':
        foodArrLength = foods.fit.length
        break;
        default:
        break;
    }

    const index = Math.floor(Math.random() * foodArrLength)
    let foodFinal = ''

    switch (tipica) {
        case 'asiatica':
        foodFinal = foods.asiatica[index]
        break;
        case 'massa':
        foodFinal = foods.massa[index]
        break;
        case 'salgado':
        foodFinal = foods.salgado[index]
        break;
        case 'doce':
        foodFinal = foods.doce[index]
        break;
        case 'fastfood':
        foodFinal = foods.fastfood[index]
        break;
        case 'fit':
        foodFinal = foods.fit[index]
        break;
        default:
        break;
    }

    return foodFinal
}

    function getMovie(genero) {
    let moviesArrLength = 0

    switch (genero) {
        case 'comedia':
        moviesArrLength = movies.comedia.length
        break;
        case 'terror':
        moviesArrLength = movies.terror.length
        break;
        case 'acao':
        moviesArrLength = movies.acao.length
        break;
        case 'suspense':
        moviesArrLength = movies.suspense.length
        break;
        case 'animacao':
        moviesArrLength = movies.animacao.length
        break;
        case 'drama':
        moviesArrLength = movies.drama.length
        break;
        case 'ficcao':
        moviesArrLength = movies.ficcao.length
        break;
        default:
        break;
    }

    const index = Math.floor(Math.random() * moviesArrLength)
    let movieFinal = ''

    switch (genero) {
        case 'comedia':
        movieFinal = movies.comedia[index]
        break;
        case 'terror':
        movieFinal = movies.terror[index]
        break;
        case 'acao':
        movieFinal = movies.acao[index]
        break;
        case 'suspense':
        movieFinal = movies.suspense[index]
        break;
        case 'animacao':
        movieFinal = movies.animacao[index]
        break;
        case 'drama':
        movieFinal = movies.drama[index]
        break;
        case 'ficcao':
        movieFinal = movies.ficcao[index]
        break;
        default:
        break;
    }

    return movieFinal
}
    
    btn.addEventListener('click', function(e) {
        e.preventDefault()

        const genero = $("#genero").val()
        const tipica = $("#tipica").val()
        const movie = getMovie(genero)
        const food = getFood(tipica)

        document.querySelector('#message-1').innerHTML = `O Filme de hoje é ${movie}`
        document.querySelector('#message-2').innerHTML = `E a comida para acompanhar vai ser ${food}`
    })

    </script>
</body>
</html>