@font-face {
    font-family: 'RandomFlix';
    src: url('fonts/Graphique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  body {
    background: radial-gradient(#fff, #aaa);
    background-size: 100vw 100vh; 
    overflow: hidden;
    padding-top: 40vh;
  }
  
  .txt {
    text-align: center;
    font-family: 'Roboto';
    font-size: 12vmin;
    font-weight: 700;
    animation: netflix_style 3.5s infinite;
    outline: none;
    white-space: nowrap;
  } 

body {
    color: #333333;
    max-width: 650px;
    font-family: arial;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #000000;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 16vh;
    margin-bottom: 16px;
    color:#e90418;
    text-shadow: 3px 4px 2px #000000;
    font-family: RandomFlix;
    margin-top: 0px;
}

header a {
    color: #888888;
    padding: 10px;
    margin-inline: 60px;
    text-decoration: none;
}

select {
    position: relative;
    box-sizing: content-box;
    width: 210px;
    height: 1em;
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.63);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.205);
}

header a:hover{
    color: #0c0606;
}

.portrait {
    width: 250px;
}

input {
    border-radius: 5px;
    border: 1px solid #eeeeee; 
    padding: 5px;
}

button {
    border-radius: 1px;
    margin-left: 26px;
    border: 1px solid #888888;
    background-color: #333333;
    color:#eeeeee;
    padding: 12px;
    padding-inline: 12px;
}

button:hover {
    color: #333333;
    background-color: #eeeeee;
}

#message-1, #message-2 {
    padding: 5px;
}

@media only screen and (max-width: 399px) {
    button {
        padding-inline: 90px;
        margin-top: 5px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 10vh;
    }

    header a {
        color: #888888;
        padding: 10px;
        margin-inline: 10px;
        text-decoration: none;
    }

    select {
        width: 100px;
    }
}
